.feed-area
  %ol
    - @user.feed.each do |image|
      %li
        .feed-header
          = link_to user_path(image.user) do
            = render "shared/user_avatar", {user: image.user, size: 40}
          %p= image.user.user_name
        = image_tag image.post_image.variant(resize_to_fill: [600, 600]).processed, alt: "投稿された画像"
        .feed-icon-area
          .like-button{ id: "like-button-#{image.id}" }
            = render "shared/like_button", image: image
          = link_to image_path(image), class: "image-show-link" do
            %i.far.fa-comment
          .favorite-button.feed-favorite{ id: "favorite-button-#{image.id}" }
            = render "shared/favorite_button", image: image
        %p.likes-count{ id: "likes-count-#{image.id}" }= "#{image.likes.count}人が「いいね！」しました"
        .feed-comment-show-area{ id: "feed-image-#{image.id}" }
          = render "shared/feed_comments", {comments: image.posted_comments, avatar_appear: false}
        .feed-comment-area
          = form_with model: image.comments.build, remote: true, class: "input-group" do |f|
            = f.text_area :comment, class: "post-comment-area", placeholder: "コメントを追加…", rows: "1", id: "comment-#{image.id}"
            = f.hidden_field :image_id, value: image.id
            = f.hidden_field :user_id, value: current_user.id
            = f.hidden_field :state, value: "home"
            .input-group-append
              = f.submit "投稿する", class: "btn"