.login_form
  .wrapper
    %h1 InstaClone
    = form_with url: login_path, local: true do |f|
      = f.email_field :email, placeholder: "メールアドレス", class: "form-control"
      = f.password_field :password, placeholder: "パスワード", class: "form-control"

      = f.submit "ログインする", class: "btn btn-primary"
    = link_to "Facebookでログイン", "auth/facebook"
.create_user_link
  - signup_link = link_to "登録する", signup_path
  %p アカウントをお持ちでないですか？#{signup_link}
