.user-info-area
  = link_to user_path(@user) do
    = render "shared/user_avatar", {user: @user, size: 70}
  .user-info-name
    %p.user-info-user-name= @user.user_name
    %p.user-info-full-name= @user.full_name