- if logged_in?
  - @header_appear = true
- @footer_appear = true
.home
  - if logged_in?
    .user-home-page
      .container
        .row.justify-content-md-center
          .col
            = render "static_pages/feed"
          .col
            = render "static_pages/user_info"
  - else
    = render "static_pages/login_form"
