- provide(:title, "パスワードを変更")
- @header_appear = true
- @footer_appear = true

.edit-area
  .side-bar
    %ul
      %li.side-bar-item
        = link_to "プロフィールを編集", edit_user_path
      %li.side-bar-item.active
        = link_to "パスワードを変更", edit_password_change_path
  .main-edit-area
    = form_with url: password_change_path, scope: :user, method: :patch, local: true do |f|
      -# = render "shared/error_messages", object: f.object
      .image-edit
        .edit-page-avatar
          = render "shared/user_avatar", {user: @user, size: 30}
        .change-image-area
          %p= @user.user_name
      .form-box
        %aside
          = f.label :current_password, "現在のパスワード"
        = f.password_field :current_password, class: "form-control"
      .form-box
        %aside
          = f.label :password, "新しいパスワード"
        = f.password_field :password, class: "form-control"
      .form-box
        %aside
          = f.label :password_confirmation, "新しいパスワードを確認"
        = f.password_field :password_confirmation, class: "form-control"
      
      .form-box
        %aside
        .form-button
          = f.submit "パスワードを変更", class: "btn btn-primary"