<% case @state %>
<% when "home" %>
  document.getElementById("feed-image-<%= @image.id %>").innerHTML = "<%= j(render "shared/feed_comments", {comments: @image.posted_comments, avatar_appear: false}) %>";
  document.getElementById("comment-<%= @image.id %>").value = "";
<% when "modal" %>
  document.getElementById("feed-image-<%= @image.id %>").innerHTML = "<%= j(render "shared/feed_comments", {comments: @image.comments, avatar_appear: true}) %>";
  document.getElementById("comment-<%= @image.id %>").value = "";
<% end %>
