- provide(:title, "facebookでログイン")

.facebook-edit-form
  .facebook-edit-form-wrapper
    = form_with model: @user, url: facebook_login_path(@user), local: true do |f|
      = f.text_field :user_name, placeholder: "ユーザーネーム", class: "form-control"
      = f.password_field :password, placeholder: "パスワード", class: "form-control"
      = f.password_field :password_confirmation, placeholder: "パスワードの確認", class: "form-control"

      = f.submit "登録する", class: "btn btn-primary"
      = render "shared/error_messages", object: f.object