document.getElementById("like-button-<%= @image.id %>").innerHTML = "<%= j(render("shared/like_button", image: @image)) %>";

document.getElementById("likes-count-<%= @image.id %>").innerText = <%= @image.likes.count %> + "人が「いいね！」しました";