%ol
  - images.each do |image|
    .show-posted-image-wrapper
      %li.show-posted-image
        = image_tag image.post_image.variant(resize_to_fill: [300, 300]).processed, alt: "投稿された画像"
        = render "shared/image_modal", image: image