%ol
  .row
    - images.each.with_index do |image, idx|
      .col-lg-4.col-6{ id: "image-#{image.id}"}
        .show-posted-image-wrapper
          %li.show-posted-image
            = image_tag image.post_image.variant(resize_to_fill: [300, 300]).processed, alt: "投稿された画像"
            = render "shared/image_modal", image: image
          - if current_user == user
            = link_to image_path(image.id, user_id: user.id), id: "posted-image-delete-#{image.id}",
              class: "image-delete-button", method: :delete,
              data: { confirm: "本当に削除しますか？",title: "確認",
              cancel: "キャンセル", commit: "削除", remote: true } do
              %i.fas.fa-times
      - if idx % 3 == 2 && idx != 0
        .w-100.d-none.d-xl-block
