- provide(:title, "プロフィールを編集")
- @header_appear = true
- @footer_appear = true

.edit-area
  .side-bar
    %ul
      %li.side-bar-item.active
        = link_to "プロフィールを編集", edit_user_path(current_user)
      %li.side-bar-item
        = link_to "パスワードを変更", edit_password_change_path(current_user)
  .main-edit-area
    = form_with model: @user, local: true do |f|
      = render "shared/error_messages", object: f.object
      .image-edit
        .edit-page-avatar
          = render "shared/user_avatar", {user: @user, size: 100}
        .change-image-area
          %p= @user.user_name
          = f.label :avatar, class: "form-image" do
            %p プロフィール写真を変更
            = f.file_field :avatar, accept: "image/png, image/jpeg"
      .form-box
        %aside
          = f.label :full_name, "名前"
        = f.text_field :full_name, class: "form-control"
      .form-box
        %aside
          = f.label :user_name, "ユーザーネーム"
        = f.text_field :user_name, class: "form-control"
      .form-box
        %aside
          = f.label :site_url, "ウェブサイト"
        = f.url_field :site_url, class: "form-control"
      .form-box
        %aside
          = f.label :introduction, "自己紹介"
        = f.text_area :introduction, class: "form-control"
      .form-box
        %aside
          = f.label :email, "メールアドレス"
        = f.email_field :email, class: "form-control"
      .form-box
        %aside
          = f.label :phone_num, "電話番号"
        = f.telephone_field :phone_num, class: "form-control"
      .form-box
        %aside
          = f.label :gender, "性別"
        .form-control
          = f.label :gender, "男性"
          = f.radio_button :gender, 1
          = f.label :gender, "女性"
          = f.radio_button :gender, 2
          = f.label :gender, "その他"
          = f.radio_button :gender, 3

      .form-box
        %aside
        .form-button
          = f.submit "送信する", class: "btn btn-primary"
          = link_to "アカウントを削除する", user_path, method: :delete, 
                  data: { confirm: "本当に削除しますか？",title: "確認",
                  cancel: "キャンセル", commit: "削除", remote: true }