- provide(:title, "登録")
- @footer_appear = true

.create_user
  .form
    = form_with model: @user, url: signup_path, local: true do |f|
      = f.email_field :email, placeholder: "メールアドレス", class: "form-control"
      = f.text_field :full_name, placeholder: "フルネーム", class: "form-control"
      = f.text_field :user_name, placeholder: "ユーザーネーム", class: "form-control"
      = f.password_field :password, placeholder: "パスワード", class: "form-control"
      = f.password_field :password_confirmation, placeholder: "パスワードの確認", class: "form-control"

      = f.submit "登録する", class: "btn btn-primary"
      = render "shared/error_messages", object: f.object
      = link_to "ログインする", root_path
      - terms_link = link_to "利用規約", "#"
      %p 登録することで、#{terms_link}に同意することとします。
