- provide(:title, "#{@user.full_name}(#{@user.user_name})")
- @header_appear = true
- @footer_appear = true

.fixed

.user-show
  = render "shared/user_avatar", {user: @user, size: 150}
  .user-info
    .user-header
      %h1= @user.user_name
      - if current_user == @user
        .profile-edit-link
          = link_to "プロフィールを編集", edit_user_path(@user)
      - else
        = render "shared/follow_form", user: @user
    .user-data
      %ul
        %li#post-image-count= "投稿#{@user.images.count}件"
        %li#followers{ data: { request_url: followers_user_path(@user) } }
          = "フォロワー#{@user.followers.count}人"
        %li#following{ data: { request_url: following_user_path(@user) } }
          = "フォロー中#{@user.following.count}人"
    %h3= @user.full_name
    .introduction
      = link_to "#{@user.site_url}", @user.site_url
      %p= @user.introduction
%hr/
.post-image-area
  .post-image-header
    .post-image-nav
      = link_to "投稿", user_path(@user), class: "images-nav-button show-page-active"
      - if current_user
        = link_to "お気に入り", favorite_user_path(@user), class: "images-nav-button"
  = render "posted_images", {images: @images, user: @user}
