- if current_user.favorited?(image)
  = link_to favorite_path(image), method: :delete, remote: true, class: "destroy-favorite" do
    %i.fas.fa-bookmark
- else
  = link_to favorites_path(image), method: :post, remote: true, class: "create-favorite" do
    %i.far.fa-bookmark