- comments.each do |comment|
  - if avatar_appear
    .image-modal-comment-user-area
      .image-modal-comment-avatar
        = render "shared/user_avatar", {user: User.find(comment.user_id), size: 30}
      %p.image-modal-comment-user-name= User.find(comment.user_id).user_name
    %p.image-modal-comment-sentence= comment.comment
  - else
    %p.posted-comment-user-name= User.find(comment.user_id).user_name
    %p.posted-comment-sentence= comment.comment