.show-page-modal
  = image_tag image.post_image.variant(resize_to_fill: [600, 600]).processed, alt: "投稿された画像"
  %aside
    .image-modal-header
      .image-modal-header-avatar
        = render "shared/user_avatar", {user: image.user, size: 40}
      %p= image.user.user_name
      - unless current_user == image.user
        .image-modal-follow-button
          = render "shared/follow_form", user: image.user
    .image-modal-show-wrapper
      .image-modal-comment-show{ id: "feed-image-#{image.id}" }
        = render "shared/feed_comments", {comments: image.comments, avatar_appear: true}
    .image-modal-icon-area
      .like-button{ id: "like-button-#{image.id}" }
        = render "shared/like_button", image: image
      = link_to image_path(image), class: "image-show-link" do
        %i.far.fa-comment
      .favorite-button.image-modal-favorite{ id: "favorite-button-#{image.id}" }
        = render "shared/favorite_button", image: image
    %p.image-modal-likes-count{ id: "likes-count-#{image.id}" }= "#{image.likes.count}人が「いいね！」しました"
    .image-modal-comment-area
      = form_with model: image.comments.build, remote: true, class: "input-group" do |f|
        = f.text_area :comment, class: "image-modal-post-comment-area", placeholder: "コメントを追加…", rows: "1", id: "comment-#{image.id}"
        = f.hidden_field :image_id, value: image.id
        = f.hidden_field :user_id, value: current_user.id
        = f.hidden_field :state, value: "modal"
        .image-modal-input-group-append
          = f.submit "投稿する", class: "btn"
        