- if current_user.liked?(image)
  = link_to like_path(image), method: :delete, remote: true, class: "destroy-like" do
    %i.fas.fa-heart
- else
  = link_to likes_path(image), method: :post, remote: true, class: "create-like" do
    %i.far.fa-heart