- if user.avatar.attached?
  = image_tag user.avatar.variant(resize_to_fill: [size, size]).processed,
    alt: user.user_name, class: "user-avatar"
- else
  = image_tag "default_avatar.jpg", alt: user.user_name, height: size, width: size, class: "user-avatar"