.facebook-edit-form {
  display: flex;
  justify-content: center;
  .facebook-edit-form-wrapper {
    border: solid 1px black;
    padding: 50px;
    margin-top: 100px;
    input {
      display: block;
      width: 250px;
      margin: 10px auto;
    }
  }
}