// ヘッダー
header {
  margin: 0;
  padding: 10px 0;
  background-color: white;
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  border-bottom: solid 1px $line-color;
  z-index: 10;
  .logo {
    float: left;
    a {
      font-weight: bold;
      font-size: 25px;
      color: black;
    }
  }
  ul {
    .nav-item {
      margin-left: 10px;
      .header-avatar {
        margin-top: -4px;
      }
      a {
        color: black;
        font-size: 25px;
      }
      .cog {
        color: black;
        font-size: 25px;
        cursor: pointer;
      }
    }
    .bell {
      position: relative;
      .red-point {
        position: absolute;
        z-index: 12;
        color: red;
        bottom: 5px;
        right: -2px;
        font-size: 20px;
        height: 10px;
        width: 10px;
      }
    }
  }
}
