// ホーム
.home {
  margin-top: 30px;
  .login_form {
    display: flex;
    justify-content: center;
    .wrapper {
      background-color: white;
      border: solid 1px black;
      padding: 50px;
      width: 350px;
      input {
        display: block;
        width: 250px;
        margin: 10px auto;
      }
    }
  }
  .create_user_link {
    display: flex;
    justify-content: center;
    p {
      background-color: white;
      margin-top: 15px;
      text-align: center;
      font-size: 15px;
      border: solid 1px black;
      padding: 10px 20px;
      width: 350px;
    }
  }
  .user-home-page {
    .feed-area {
      @include maxScreen($breakpointMaxSP) {
        margin-left: 20px;
      }

      @include minMaxScreen($breakpointMinTAB, $breakpointMaxTAB) {
        margin-left: 20px;
      }

      @include minScreen($breakpointMinPC) {
        margin-left: 150px;
      }
      ol{
        padding: 0;
        li {
          width: 602px;
          border: solid 1px $line-color;
          background-color: white;
          margin-top: 30px;
          .feed-header {
            display: flex;
            justify-content: flex-start;
            height: 60px;
            padding: 13px 16px;
            p {
              font-weight: bold;
              margin-top: 6px;
              margin-left: 13px;
            }
          }
          .feed-icon-area {
            padding: 5px 13px;
            display: flex;
            justify-content: flex-start;
            .feed-favorite {
              margin-left: 470px;
            }
          }
          .likes-count {
            margin-bottom: 5px;
            padding-left: 13px;
            font-weight: bold;
            font-size: 12px;
          }
          .feed-comment-show-area {
            padding-left: 13px;
            padding-right: 13px;
            width: 600px;
            .posted-comment-user-name {
              font-weight: bold;
              margin-bottom: 5px;
            }
            .posted-comment-sentence {
              word-break: normal;
              margin-bottom: 8px;
            }
          }
          .feed-comment-area {
            display: flex;
            justify-content: flex-start;
            padding: 10px 13px;
            border-top: solid 1px $line-color;
            .post-comment-area {
              border: none;
              resize: none;
              outline: none;
              width: 87%;
              padding: 0;
            }
            .input-group-append {
              input {
                color: rgb(90, 90, 184);
                font-weight: bold;
                padding: 0;
              }
            }
          }
        }
      }
    }
    .user-info-area {
      @include maxScreen($breakpointMaxSP) {
        display: none;
      }

      @include minMaxScreen($breakpointMinTAB, $breakpointMaxTAB) {
        display: none;
      }

      position: fixed;
      top: 14%;
      right: 15%;
      display: flex;
      justify-content: flex-start;
      .user-info-name {
        margin-left: 15px;
        .user-info-user-name {
          font-weight: bold;
          font-size: 20px;
          margin-bottom: 8px;
        }
        .user-info-full-name {
          color: gray;
        }
      }
    }
  }
}
