// アイコン
.destroy-like {
  font-size: 30px;
  color: rgb(252, 124, 145);
}
.create-like {
  font-size: 30px;
  color: gray;
}
.image-show-link {
  margin-left: 10px;
  font-size: 30px;
  color: gray;
}
.destroy-favorite {
  font-size: 30px;
  color: rgb(238, 238, 64);
}
.create-favorite {
  font-size: 30px;
  color: gray;
}