// 画像のモーダル
.show-page-modal {
  visibility: hidden;
  position: fixed;
  z-index: 30;
  top: 10%;
  left: 27%;
  display: flex;
  justify-content: flex-start;
  background-color: white;
  aside {
    width: 300px;
    .image-modal-header {
      padding: 5px 13px;
      display: flex;
      justify-content: flex-start;
      border-bottom: solid 1px $line-color;
      .image-modal-header-avatar {
        align-self: center;
      }
      p {
        margin-top: 13px;
        margin-left: 5px;
        font-weight: bold;
      }
      .image-modal-follow-button {
        margin-top: 7px;
        margin-left: 5px;
      }
    }
    .image-modal-show-wrapper {
      overflow: hidden;
      padding-right: 13px;
      padding-left: 13px;
      .image-modal-comment-show {
        overflow: scroll;
        height: 420px;
        width: calc(100% + 28px);
        margin-bottom: -20px;
        .image-modal-comment-user-area {
          display: flex;
          justify-content: flex-start;
          .image-modal-comment-avatar {
            align-self: center;
          }
          .image-modal-comment-user-name {
            font-weight: bold;
            margin-top: 15px;
            margin-left: 5px;
          }
          .image-modal-comment-sentence {
            word-break: normal;
            margin-bottom: 5px;
          }
        }
      }
    }
    .image-modal-icon-area {
      padding: 5px 13px;
      display: flex;
      justify-content: flex-start;
      border-top: solid 1px $line-color;
      .image-modal-favorite {
        margin-left: 180px;
      }
    }
    .image-modal-likes-count {
      margin: 0;
      padding: 5px 13px;
      font-weight: bold;
    }
    .image-modal-comment-area {
      display: flex;
      justify-content: flex-start;
      padding: 10px 13px;
      border-top: solid 1px $line-color;
      .image-modal-post-comment-area {
        border: none;
        resize: none;
        outline: none;
        width: 70%;
        padding: 0;
      }
      .image-modal-input-group-append {
        input {
          color: rgb(90, 90, 184);
          font-weight: bold;
          padding: 0;
        }
      }
    }
  }
}