.image-upload-wrapper {
  margin-left: 200px;
  .image-upload-area {
    display: flex;
    flex-direction: column;
    .upload-image {
      .upload-image-text {
        cursor: pointer;
        &:hover {
          color: blue;
        }
      }
      input {
        display: none;
      }
    }
    .btn {
      width: 100px;
      margin-top: 10px;
    }
  }
}
