.notification-modal-wrapper {
  position: fixed;
  top: 60px;
  right: 325px;
  z-index: 22;
  visibility: hidden;
  .notification-modal-frame {
    background-color: white;
    border: solid 2px $line-color;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    box-shadow: 2px 2px 4px 0 gray;
    width: 400px;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 0;
    &::before {
      content: "";
      position: absolute;
      top: -24px;
      right: 26%;
      margin-left: -15px;
      border: 12px solid transparent;
      border-bottom: 12px solid white;
      z-index: 24;
    }
    &::after {
      content: "";
      position: absolute;
      top: -30px;
      right: 25%;
      margin-left: -17px;
      border: 14px solid transparent;
      border-bottom: 14px solid $line-color;
      z-index: 23;
    }
    ol {
      padding: 0;
      margin: 0;
      .notification-modal-item {
        display: flex;
        justify-content: flex-start;
        &:nth-child(n+2) {
          border-top: solid 1px $line-color;
        }
        .notification-modal-avatar {
          align-self: center;
        }
        .notification-modal-content {
          margin-left: 5px;
          margin-top: 5px;
          .notification-modal-name {
            margin: 0;
            font-weight: bold;
            color: black;
          }
          .notification-modal-sentence {
            padding-bottom: 8px;
            margin: 0;
          }
        }
      }
    }
  }
}
