.search-area {
  @include maxScreen($breakpointMaxSP) {
    margin-left: 0px;
  }

  @include minMaxScreen($breakpointMinTAB, $breakpointMaxTAB) {
    margin-left: 0px;
  }

  @include minScreen($breakpointMinPC) {
    margin-left: 400px;
  }
  z-index: 20;
  .search-group {
    .search-text-box {
      width: 200px;
      outline: none;
      border: solid 1px $line-color;
      border-radius: 5px;
      padding: 5px 13px;
      background-color: #fafafa;
    }
  }
}
