.search-results-wrapper {
  position: fixed;
  top: 73px;
  left: 850px;
  z-index: 20;
  .search-results-frame {
    background-color: white;
    width: 200px;
    border: solid 2px $line-color;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    box-shadow: 2px 2px 4px 0 gray;
    padding: 7px;
    &::before {
      content: "";
      position: absolute;
      top: -24px;
      right: 45%;
      margin-left: -15px;
      border: 12px solid transparent;
      border-bottom: 12px solid white;
      z-index: 22;
    }
    &::after {
      content: "";
      position: absolute;
      top: -30px;
      right: 45%;
      margin-left: -17px;
      border: 14px solid transparent;
      border-bottom: 14px solid $line-color;
      z-index: 21;
    }
    ul {
      padding: 0;
      margin: 0;
      .search-results-item {
        margin-bottom: 5px;
        padding-top: 5px;
        &:nth-child(n+2) {
          border-top: solid 1px $line-color;
        }
        .search-results-link {
          display: flex;
          justify-content: flex-start;
          .search-results-name {
            color: black;
            margin: 0;
          }
        }
      }
      .no-search-results {
        margin: 0;
      }
    }
  }
}