.show-image-page {
  width: 900px;
  display: flex;
  justify-content: flex-start;
  background-color: white;
  margin-left: 120px;
  aside {
    width: 300px;
    .show-image-page-header {
      padding: 5px 13px;
      display: flex;
      justify-content: flex-start;
      border-bottom: solid 1px $line-color;
      .show-image-page-header-avatar {
        align-self: center;
      }
      p {
        margin-top: 13px;
        margin-left: 5px;
        font-weight: bold;
      }
      .show-image-page-follow-button {
        margin-top: 7px;
        margin-left: 5px;
      }
    }
    .show-image-page-show-wrapper {
      overflow: hidden;
      padding-right: 13px;
      padding-left: 13px;
      .show-image-page-comment-show {
        overflow: scroll;
        height: 420px;
        width: calc(100% + 28px);
        margin-bottom: -20px;
        .image-modal-comment-user-area {
          display: flex;
          justify-content: flex-start;
          .image-modal-comment-avatar {
            align-self: center;
          }
          .image-modal-comment-user-name {
            font-weight: bold;
            margin-top: 15px;
            margin-left: 5px;
          }
          .image-modal-comment-sentence {
            word-break: normal;
            margin-bottom: 5px;
          }
        }
      }
    }
    .show-image-page-icon-area {
      padding: 5px 13px;
      display: flex;
      justify-content: flex-start;
      border-top: solid 1px $line-color;
      .show-image-page-favorite {
        margin-left: 180px;
      }
    }
    .show-image-page-likes-count {
      margin: 0;
      padding: 5px 13px;
      font-weight: bold;
    }
    .show-image-page-comment-area {
      display: flex;
      justify-content: flex-start;
      padding: 10px 13px;
      border-top: solid 1px $line-color;
      .show-image-page-post-comment-area {
        border: none;
        resize: none;
        outline: none;
        width: 70%;
        padding: 0;
      }
      .show-image-page-input-group-append {
        input {
          color: rgb(90, 90, 184);
          font-weight: bold;
          padding: 0;
        }
      }
    }
  }
}
hr {
  margin-top: 50px;
}
.show-image-page-posted-image-area {
  p {
    margin-top: 30px;
    margin-bottom: 8px;
  }
  ol {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    li {
      margin-left: 50px;
      margin-top: 20px;
    }
  }
}
