.sub-menu-wrapper {
  position: absolute;
  background-color: white;
  border: solid 1px $line-color;
  border-radius: 5px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 400px;
  height: 95px;
  visibility: hidden;
  z-index: 30;
  ul {
    padding: 0;
    margin: 0;
    .sub-menu-item {
      display: flex;
      justify-content: center;
      padding: 10px 0;
      &:nth-child(2) {
        border-top: solid 1px $line-color;
      }
      a {
        color: black;
      }
    }
  }
}
