// ユーザー編集ページ
.edit-area {
  display: flex;
  justify-content: center;
  border: solid 1px $line-color;
  .side-bar {
    flex-basis: 20%;
    border-right: solid 1px $line-color;
    ul {
      padding: 0;
      .side-bar-item {
        padding-top: 15px;
        padding-left: 20px;
        padding-bottom: 15px;
      }
      .active {
        border-left: solid 2px black;
      }
    }
  }
  .main-edit-area {
    flex-basis: 80%;
    .image-edit {
      display: flex;
      justify-content: center;
      .edit-page-avatar {
        align-self: center;
      }
      .form-image{
        p {
          cursor: pointer;
        }
      }
    }
    .form-box {
      display: flex;
      flex-direction: row;
      margin-top: 15px;
      aside {
        width: 200px;
        text-align: right;
      }
      .form-control {
        flex-basis: 360px;
        margin-left: 40px;
      }
      .form-button {
        margin-left: 40px;
        a {
          margin-left: 100px;
          line-height: 70px;
        }
      }
    }
  }
}