// ユーザー登録ページ
.create_user {
  display: flex;
  justify-content: center;
  .form {
    border: solid 1px black;
    padding: 50px;
    margin-top: 100px;
    input {
      display: block;
      width: 250px;
      margin: 10px auto;
    }
    p {
      width: 250px;
    }
  }
}