// ユーザー個別ページ
.user-show {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  .user-info {
    margin-left: 100px;
    .user-header {
      display: flex;
      justify-content: flex-start;
      h1 {
        font-weight: normal;
      }
      .profile-edit-link {
        a {
          margin-left: 20px;
          margin-top: 10px;
          color: black;
          border: solid 1px $line-color;
          border-radius: 4px;
          padding: 10px;
          font-weight: bold;
          font-size: 15px;
          display: block;
          line-height: 12px;
        }
      }
      #follow-form {
        margin-top: 10px;
        margin-left: 20px;
      }
    }
    .user-data {
      ul {
        padding-inline-start: 0;
        display: flex;
        justify-content: flex-start;
        li + li {
          margin-left: 30px;
          cursor: pointer;
          &:hover {
            color: blue;
          }
        }
      }
    }
    h3 {
      font-weight: bold;
      font-size: 20px;
    }
  }
}
.post-image-area {
  .post-image-header {
    display: flex;
    justify-content: center;
    .post-image-nav {
      display: flex;
      justify-content: space-around;
      width: 300px;
      .images-nav-button {
        font-weight: bold;
        text-align: center;
        color: gray;
      }
      .show-page-active {
        color: black;
      }
    }
  }
  ol {
    padding: 0;
    .show-posted-image-wrapper {
      position: relative;
      margin-top: 20px;
      width: 300px;
      .image-delete-button {
        position: absolute;
        top: 0;
        right: -15px;
        color: black;
      }
    }
  }
}
