@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";

$line-color: rgb(218, 218, 218);

$breakpointMaxSP: 640px;
$breakpointMinTAB: $breakpointMaxSP+1;
$breakpointMaxTAB: 980px;
$breakpointMinPC: $breakpointMaxTAB+1;

@mixin maxScreen($breakPoint) {
  @media screen and (max-width: $breakPoint) {
    @content;
  }
}

@mixin minScreen($breakPoint) {
  @media screen and (min-width: $breakPoint) {
    @content;
  }
}

@mixin minMaxScreen($minBreakPoint, $maxBreakPoint) {
  @media screen and (min-width: $minBreakPoint) and (max-width: $maxBreakPoint) {
    @content;
  }
}

@mixin relationships-modal {
  z-index: 99;
  position: absolute;
  background-color: white;
  border: solid 1px $line-color;
  border-radius: 5px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 500px;
  height: 450px;
  ol {
    padding: 10px;
    margin: 0;
    height: 380px;
    li {
      .row {
        padding: 0;
        margin: 0;
      }
    }
    hr {
      margin: 20px 0;
    }
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #fafafa;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

li {
  list-style: none;
}

.main-contents {
  margin-top: 90px;
}

.user-avatar {
  border-radius: 50%;
}

#fade-layer {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  opacity: 0.5;
  visibility: hidden;
  z-index: 25;
}

#fade-clear-layer {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  z-index: 15;
}

#fade-clear-notifications-layer {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  z-index: 21;
}

#search-results-area {
  visibility: hidden;
}

#followers-modal {
  visibility: hidden;
}

#following-modal {
  visibility: hidden;
}

// アイコン
@import "icon";

// ヘッダー
@import "header";

// 検索ボックス
@import "search_area";

// 通知のモーダル
@import "notification_modal";

// 検索結果
@import "search_results";

// サブメニュー
@import "sub_menu";

// ホーム
@import "home";

// facebookで登録ページ
@import "facebook_edit";

// ユーザー登録ページ
@import "user_create";

// ユーザー個別ページ
@import "user_individual";

// フォロワー一覧
@import "followers_modal";

// フォローしているユーザー一覧
@import "following_modal";

// 写真アップロードページ
@import "image_create";

// 写真個別ページ
@import "show_image_page";

// 画像のモーダル
@import "image_modal";

// ユーザー編集ページ
@import "user_edit";

// エラー
.error_explanation {
  ul {
    li {
      color: red;
      list-style: none;
    }
  }
}

// フッター
@import "footer";
