- provide(:title, "写真をアップロードする")
- @header_appear = true

.row
  .col-md-auto
    .image-upload-wrapper
      = form_with model: @image, local: true do |f|
        = render "shared/error_messages", object: f.object
        .image-upload-area
          %label.upload-image
            %p.upload-image-text 画像を選択
            = f.file_field :post_image, accept: "image/png, image/jpeg", id: "upload-image-input",
              data: { request_url: preview_images_path }
          = f.submit "送信する", class: "btn btn-primary"
  .col-md-auto
    = image_tag "NO-IMAGE.jpg", alt: "プレビュー画像", height: 500, width: 500, id: "preview-image-area"
