- provide(:title, "投稿した写真")
- @header_appear = true
- @footer_appear = true

.show-image-page
  = image_tag @image.post_image.variant(resize_to_fill: [600, 600]).processed, alt: "投稿された画像"
  %aside
    .show-image-page-header
      .show-image-page-header-avatar
        = render "shared/user_avatar", {user: @user, size: 40}
      %p= @user.user_name
      - unless current_user == @user
        .show-image-page-follow-button
          = render "shared/follow_form", user: @user
    .show-image-page-show-wrapper
      .show-image-page-comment-show{ id: "feed-image-#{@image.id}" }
        = render "shared/feed_comments", {comments: @image.comments, avatar_appear: true}
    .show-image-page-icon-area
      .like-button{ id: "like-button-#{@image.id}" }
        = render "shared/like_button", image: @image
      = link_to image_path(@image), class: "image-show-link" do
        %i.far.fa-comment
      .favorite-button.show-image-page-favorite{ id: "favorite-button-#{@image.id}" }
        = render "shared/favorite_button", image: @image
    %p.show-image-page-likes-count{ id: "likes-count-#{@image.id}" }= "#{@image.likes.count}人が「いいね！」しました"
    .show-image-page-comment-area
      = form_with model: @image.comments.build, remote: true, class: "input-group" do |f|
        = f.text_area :comment, class: "show-image-page-post-comment-area", placeholder: "コメントを追加…",
                rows: "1", id: "comment-#{@image.id}"
        = f.hidden_field :image_id, value: @image.id
        = f.hidden_field :user_id, value: current_user.id
        = f.hidden_field :state, value: "modal"
        .show-image-page-input-group-append
          = f.submit "投稿する", class: "btn"
%hr/
.show-image-page-posted-image-area
  %p
    %strong= "#{@user.user_name}"
    の他の投稿
  %ol
    - @user.six_images(@image.id).each do |image|
      %li.show-page-posted-image
        = link_to image_path(image) do
          = image_tag image.post_image.variant(resize_to_fill: [300, 300]).processed, alt: "投稿された画像"