- @user ||= current_user
%header
  .container
    .row
      .col
        .logo
          = link_to "INSTA", root_path
      .col
        = render "layouts/search_area"
      .col
        %nav
          %ul.nav.justify-content-end
            %li.nav-item
              = link_to root_path do
                %i.fas.fa-home
            %li.nav-item
              .header-avatar
                = link_to user_path(current_user) do
                  = render "shared/user_avatar", {user: current_user, size: 30}
            %li.nav-item
              = link_to new_image_path do
                %i.fas.fa-arrow-circle-up
            %li.nav-item.bell
              = link_to notification_users_path, method: :post, remote: true do
                %i.fas.fa-bell
              #red-point-area
                = render "layouts/red_point"
            %li.nav-item
              .cog
                %i.fas.fa-cog
= render "layouts/notification_modal"
= render "layouts/sub_menu"
#following-modal
#followers-modal
#search-results-area
