.notification-modal-wrapper
  .notification-modal-frame
    %ol
      - if current_user.five_notifications.any?
        - current_user.five_notifications.each do |notification|
          %li.notification-modal-item
            - user = User.find(notification.do_id)
            - image = Image.find(notification.image_id)
            .notification-modal-avatar
              = render "shared/user_avatar", {user: user, size: 30}
            .notification-modal-content
              = link_to user.user_name, user_path(user), class: "notification-modal-name"
              - case notification.state
              - when "comment"
                %p.notification-modal-sentence
                  があなたの投稿
                  = link_to image_path(image) do
                    = image_tag image.post_image.variant(resize_to_fill: [30, 30]).processed, alt: "投稿された画像"
                  にコメントしました
              - when "favorite"
                %p.notification-modal-sentence
                  があなたの投稿
                  = link_to image_path(image) do
                    = image_tag image.post_image.variant(resize_to_fill: [30, 30]).processed, alt: "投稿された画像"
                  をお気に入りにしました
      - else
        %p 通知はありません