%ol
  - users.each.with_index do |user, idx|
    %li
      .row.justify-content-center
        .col-2
          = render "shared/user_avatar", user: user, size: 30
        .col-4
          = link_to "#{user.user_name}", user_path(user.id)
        .col-5
          = render "shared/follow_form", user: user
    - if idx != users.count - 1
      %hr/
