.search-results-wrapper
  .search-results-frame
    %ul
      - if results.any?
        - results.each do |result|
          %li.search-results-item
            = link_to user_path(result), class: "search-results-link" do
              = render "shared/user_avatar", {user: result, size: 30}
              %p.search-results-name= result.user_name
      - else
        %p.no-search-results 検索結果が見つかりません