= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload"
= javascript_pack_tag "application", "data-turbolinks-track": "reload"
= stylesheet_pack_tag "application", "data-turbolinks-track": "reload"
