!!!
%html
  %head
    = analytics_init if Rails.env.production?
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title
      = yield(:title).presence || "Instagram"
    = render "layouts/rails_default"
    = render "layouts/shim"
  %body
    #fade-layer
    #fade-clear-layer
    #fade-clear-notifications-layer
    - if @header_appear
      = render 'layouts/header'
    .container
      .main-contents
        - flash.each do |message_type, message|
          = content_tag(:div, message, class: "alert alert-#{message_type}")
        = yield
      - if @footer_appear
        = render 'layouts/footer'
      %hr
      = debug(params) if Rails.env.development?

